/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* Header Styles */
.header {
  background-color: #0d6efd;
  font-style: italic;
  text-align: center;
  color: white;
  margin-bottom: 0;
  padding: 5px 0;
}

.headerImg {
  width: 100px;
  height: auto;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffff;
  border-bottom: 0.5px solid #a19f9f;
}

.navBrand {
  font-weight: bolder;
}

.carousel-item img {
  height: auto;
  object-fit: cover;
  width: 100vw;
}
/* Large screen styles */
@media (min-width: 992px) {
  .carousel-item img {
    height: 400px;
    object-fit: fill;
    width: 100vw;
  }
  .previewCardImg {
    height: 300px;
    object-fit: contain;
    width: 100vw;
  }
  .adminCardImg {
    height: 300px;
    object-fit: contain;
    width: 100vw;
  }
}

.card {
  border: 1px solid #f8f9fc;
  border-radius: 4px !important;
  background-color: #fafafa !important;
}
.card-img {
  transition: transform 0.2s;
  width: 100%;
  height: 300px;
}
.card-img:hover {
  transform: scale(1.2);
}
.card-body {
  background-color: #f8f9fc;
  padding-top: 0;
}
.cardText {
  font-size: 12px;
}
a.cardTitle {
  text-decoration: none;
  color: black;
}
.btnDetails {
  background-color: #ffc107 !important;
  border-radius: 0 !important;
}
.addToCartInput {
  border: none;
}
.btnPlus,
.btnMinus {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  font-size: 18px !important;
}
.quantityWrapper {
  border: 1px solid #a19f9f;
  width: fit-content !important;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantityBox {
  display: flex;
  flex-direction: row;
  width: fit-content !important;
  margin: 0 !important;
}

.shoppingCart {
  background-color: #f8f9fc;
}
.checkOutBtn {
  color: black !important;
  background-color: transparent !important;
  border-radius: 99px !important;
  border: 1px solid #a19f9f !important;
}
.checkOutBtn:hover {
  background-color: #ffc107 !important;
}
.clearCartBtn {
  background-color: #dc3545 !important;
  border: none !important;
  border-radius: 99px !important;
}
